<div class="container px-5 my-5">
  <div class="row">

    <div class="col-sm-4 mb-4">
      <div class="card">
        <h5 class="card-header">
          <div class="rounded-3 mb-3"><i class="bi bi-camera"></i></div>
        </h5>
        <div class="card-body">
          <h5 class="card-title">Scan Carte</h5>
          <p class="card-text">Scannerizza carte Magic</p>
          <a [routerLink]="['/scan']" class="btn btn-primary">Vai allo Scanner</a>
        </div>
      </div>
    </div> 
    <div class="col-sm-4 mb-4">
      <div class="card">
        <h5 class="card-header">
          <div class="rounded-3 mb-3"><i class="bi bi-person-circle"></i>
          </div>
        </h5>
        <div class="card-body">
          <h5 class="card-title">Area Utente</h5>
          <p class="card-text">Gestione delle tue carte e delle vendite, Informazioni generali dell'utente</p>
          <a [routerLink]="['/home/utente']" class="btn btn-primary">Vai alla pagina</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <h5 class="card-header">
          <div class="rounded-3 mb-3"><i class="bi bi-search"></i></div>
        </h5>
        <div class="card-body">
          <h5 class="card-title">DataBase Carte</h5>
          <p class="card-text">Ricerca tutte le carte</p>
          <a [routerLink]="['/home/ricerca']" class="btn btn-primary">Vai alla pagina</a>
        </div>
      </div>
    </div>

  </div>
</div>