<div class="container py-5">
  <div class="row mb-2">
    <div class="col">
      <a class="btn btn-primary" [routerLink]="['/home']">
        < Torna alla Home</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">

          <img src="../../../../../assets/img/user.png" alt="avatar" class="rounded-circle img-fluid"
            style="width: 150px;">
          <h5 class="my-3">NAME</h5>
          <p class="text-muted mb-1">Lavoratore</p>



        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <p class="m-3"><strong>Dati di accesso</strong>
          </p>

          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex  align-items-center p-3">
              <div class="form-group">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <label for="userId">Username:</label>
                <input id="userId" [disabled]="true" type="text" class="form-control">
              </div>


            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <p class="mb-4">Informazioni Generali
          </p>
          <div class="row mt-3">
            <div class="col-sm-3">
              <p class="mb-0">Nome</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">TEST</p>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-sm-3">
              <p class="mb-0">Data di nascita</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">TEST</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">TEST</p>
            </div>
          </div>

        </div>
      </div>
      <div class="row" *ngIf="cards.length > 0">
        <div class="col-md-12">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4">Carte Possedute
              </p>

              <div class="container">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of cards">
                      <td>{{ item.id }}</td>
                      <td>{{ item.name }}</td>
                    </tr>
                  </tbody>
                </table>

                <pagination [boundaryLinks]="true" [(ngModel)]="currentPage" [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)" [maxSize]=10></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>