label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.password-strength-meter {
    width: 100%;
    height: 10px;
    background-color: #ccc;
  }
  
  .meter-value {
    height: 100%;
    background-color: #4CAF50;
  }

.weak {
    background-color: #ff4d4d;
}

.medium {
    background-color: #ffad4d;
}

.strong {
    background-color: #2bff4d;
}