<div class="card">
    <div class="card-header" id="head-applicazioni">
        <h3>
            <strong>Entra in BANCA DATI Solare </strong>
        </h3>

        <br>
        <h6>Inserisci le credenziali definite in fase di registrazione dell'utenza</h6>

    </div>
</div>
<div class="card mt-4">
    <form [formGroup]="formLogin" class="needs-validation">
        <div class="container">
            <div class="row m-2">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" class="form-control" formControlName="username"
                            [ngClass]="{ 'is-invalid': formLogin.get('username')?.touched && formLogin.get('username')?.errors, 'is-valid': formLogin.get('username')?.valid }"
                            placeholder="Inserisci username" required>
                        <div *ngIf="formLogin.get('username')?.touched && formLogin.get('username')?.errors"
                            class="invalid-feedback">
                            <div *ngIf="formLogin.get('username')?.hasError('required')">
                                Inserisci Username.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" class="form-control" formControlName="password"
                            [ngClass]="{ 'is-invalid': formLogin.get('password')?.touched && formLogin.get('password')?.errors, 'is-valid': formLogin.get('password')?.valid }"
                            placeholder="Inserisci la password">
                        <div *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.errors"
                            class="invalid-feedback">
                            <div *ngIf="formLogin.get('password')?.hasError('required')">
                                Inserire la password.
                            </div>
                            <!-- <div *ngIf="formLogin.get('password')?.errors?.pattern">Enter Valid Email ID!</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row m-2">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="password">Ruolo:</label>
                        <select class="form-select" aria-label="Default select example" formControlName="ruolo"
                            [ngClass]="{ 'is-invalid': formLogin.get('ruolo')?.touched && formLogin.get('ruolo')?.errors, 'is-valid': formLogin.get('ruolo')?.valid }">
                            <option value="1">Lavoratore</option>
                            <option value="2">Medico competente</option>
                            <option value="3">Ricercatore-datore di lavoro</option>
                            <option value="4">Organo di vigilanza</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <div class="row m-2 mt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="checkbox" formControlName="keepConnection" id="remember-me">
                        <label for="remember-me">Resta connesso</label>
                    </div>
                </div>
                <!-- <div class="col-sm-4">
                    <div class="form-group">
                        <a href="#" class="forgot-password">Hai dimenticato la password?</a>
                    </div>
                </div> -->
            </div>

            <div class="row mt-4 mb-4">
                <div class="col-4">
                    <button (click)="login()" class="btn btn-primary" [disabled]="formLogin.invalid">Entra</button>
                </div>

            </div>
        </div>
    </form>
</div>