<div class="container py-5">
    <form [formGroup]="informazioniForm" (ngSubmit)="submitForm()">
        <a class="btn btn-primary" [routerLink]="['/home/utente']"> < Torna alla Pagina personale</a>
        <h2>Informazioni generali</h2>
        <div class="mb-3 form-group">
            <p>
                Le informazioni richieste di seguito consentiranno un miglior funzionamento dell'app onde garantire
                informazioni per la prevenzione del rischio da esposizione a radiazione UV solare maggiormente
                specifiche ed
                individualizzate.
            </p>


            <div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" formControlName="consenso" role="switcheconsenso"
                        id="consenso">
                    <label class="form-check-label" for="consenso">{{informazioniForm.get('consenso')?.value
                        ? 'Acconsento' : 'Non acconsento'}}</label>
                </div>
            </div>
        </div>

        <ol class="list-group list-group-numbered" *ngIf="informazioniForm.get('consenso')?.value">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Anno di nascita:
                    </div>
                    <div class="mb-3 form-group">
                        <input class="form-control" type="number" formControlName="bornYear">
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Sesso *
                    </div>
                    <div class="mb-3 form-group">
                        <div class="form-label">
                            <div class="form-group form-check form-check-inline ">
                                <input class="form-check-input" type="radio" name="sesso" formControlName="sesso"
                                    id="s1" value="M">
                                <label class="form-check-label" for="M">M</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sesso" formControlName="sesso"
                                    id="s2" value="F">
                                <label class="form-check-label" for="F">F</label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Classificazione del Fototipo secondo la classificazione Fitzpatrick:
                    </div>
                    <div class="mb-3 form-group">
                        <ng-select formControlName="fototipo" [items]="fototipi" bindLabel="name" bindValue="id"
                            placeholder="Seleziona il tuo fototipo" id="nomeFotoTipi" [appendTo]="'#nomeFotoTipi'">
                            <ng-template ng-option-tmp let-item="item">
                                <div>
                                    <div>{{ item.name }}</div>
                                    <small class="text-muted">{{ item.description }}</small>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Hai seguito un corso di formazione sulla prevenzione del rischio da
                        radiazione ultravioletta
                        solare?
                    </div>
                    <div class="mb-3 form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" formControlName="trainingCourse"
                                role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">{{informazioniForm.get('trainingCourse')?.value ? 'SI'
                                :
                                'NO'}}</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Sai che l'esposizione prolungata alla radiazione solare sul lavoro può
                        causare malattie che
                        sono
                        incluse nelle tabelle delle malattie professionali?
                    </div>
                    <div class="mb-3 form-group">
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                    formControlName="informationExposure" role="switchinformedExposure"
                                    id="flexSwitchCheckDefaultinformedExposure">
                                <label class="form-check-label"
                                    for="flexSwitchCheckDefaultinformedExposure">{{informazioniForm.get('informationExposure')?.value
                                    ? 'SI' : 'NO'}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Ha fatto altri lavori, prima di quello corrente, con esposizione a
                        radiazione solare?
                    </div>
                    <div class="mb-3 form-group">
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" formControlName="otherJobs"
                                    role="switchelavoriPrecedenti" id="flexSwitchCheckDefaultlavoriPrecedenti">
                                <label class="form-check-label"
                                    for="flexSwitchCheckDefaultlavoriPrecedenti">{{informazioniForm.get('otherJobs')?.value
                                    ? 'SI' : 'NO'}}</label>
                            </div>

                            <div *ngIf="informazioniForm.get('otherJobs')?.value === true">
                                <label>Lavori Precedenti</label>
                                <ng-select formControlName="works" [items]="lavoriPrecedenti"
                                    bindLabel="name" bindValue="id" placeholder="Seleziona uno o più lavori" [multiple]="true"
                                    id="nomelavoriPrecedentiSelect" [appendTo]="'#nomelavoriPrecedentiSelect'">
                                </ng-select>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Hai svolto altri lavori all'aperto?
                    </div>
                    <div class="mb-3 form-group">
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" formControlName="otherOutdoorJobs"
                                    role="switchelavoriAllAperto" id="flexSwitchCheckDefaultlavoriAllAperto">
                                <label class="form-check-label"
                                    for="flexSwitchCheckDefaultlavoriAllAperto">{{informazioniForm.get('otherOutdoorJobs')?.value
                                    ? 'SI' : 'NO'}}</label>
                            </div>
                            <input class="form-control" type="number" formControlName="outdoorWorkYears"
                                placeholder="Per quanti anni?"
                                *ngIf="informazioniForm.get('otherOutdoorJobs')?.value === true">
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Pratichi regolarmente sport o hobbies all’aperto sotto il sole?
                    </div>
                    <div class="mb-3 form-group">
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" formControlName="sport"
                                    role="switchesportAllAperto" id="flexSwitchCheckDefaultsportAllAperto">
                                <label class="form-check-label"
                                    for="flexSwitchCheckDefaultsportAllAperto">{{informazioniForm.get('sport')?.value
                                    ? 'SI' : 'NO'}}</label>
                            </div>
                            <div *ngIf="informazioniForm.get('sport')?.value === true">
                                <label>Sports/Hobbies</label>
                                <ng-select formControlName="sports" [items]="sports" bindLabel="name"
                                    bindValue="id" placeholder="Seleziona uno o più Sport/Hobbies"
                                    [multiple]="true" id="nomesportAllApertoSelect" [appendTo]="'#nomesportAllApertoSelect'">
                                </ng-select>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Trascorri le vacanze estive all'aperto?
                    </div>
                    <div class="mb-3 form-group">
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" formControlName="vacancy"
                                    role="switchevacanzeAllAperto" id="flexSwitchCheckDefaultvacanzeAllAperto">
                                <label class="form-check-label"
                                    for="flexSwitchCheckDefaultvacanzeAllAperto">{{informazioniForm.get('vacancy')?.value
                                    ? 'SI' : 'NO'}}</label>
                            </div>
                            <input class="form-control" type="number" formControlName="vacancyYears"
                                placeholder="Quanti giorni all'anno"
                                *ngIf="informazioniForm.get('vacancy')?.value === true">
                        </div>
                    </div>
                </div>
            </li>
        </ol>
        <button type="submit" class="btn btn-primary" *ngIf="informazioniForm.get('consenso')?.value"
            [disabled]="informazioniForm.invalid">Salva</button>
    </form>
</div>