<div class="container" >
    <div class="row mb-2">
        <div class="col">
          <a class="btn btn-primary" [routerLink]="['/home/utente']">
            < Torna alla sezione Utente</a>
        </div>
      </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>In Vendita</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody *ngIf="userCards.length > 0">
        <tr *ngFor="let item of userCards">
          <th scope="row">
            <label class="control control--checkbox">
              <input type="checkbox" (click)="changeInVendita(item)" [checked]="item.inVendita">
              <div class="control__indicator"></div>
            </label>
          </th>
          <td>{{ item.card?.printedName ? item.card?.printedName : item.card?.name }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="userCards.length == 0">
        <tr >
          <td>Nessuna carta Posseduta</td>
        </tr>
      </tbody>
    </table>

    <pagination *ngIf="userCards.length > 0" [boundaryLinks]="true" [(ngModel)]="currentPage" [totalItems]="totalItems"
      [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)" [maxSize]=10></pagination>
  </div>
