<ion-content>

    <div class="video-container">
      <video #video autoplay playsinline muted></video>
      <canvas #canvas></canvas>
    </div>
  
    <div class="button-container">
      <ion-button expand="full" (click)="requestCameraPermission()">Avvia Fotocamera</ion-button>
      <!-- <ion-button expand="full" (click)="callAPI('tesdt')">Invia Carte all'API</ion-button> -->
    </div>
  
    <!-- ✅ Log visibili in pagina -->
       <ion-list>
        <ion-item *ngFor="let log of logs">
          <ion-label>{{ log }}</ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
  